.header-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.header-section .left-section {
  width: 461px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-section .right-section {
  color: var(--green);
  font-size: 77px;
  font-weight: 600;
}
.header-section .left-section .navigation {
  text-transform: uppercase;
  color: var(--green);
  font-size: 15px;
  font-weight: bold;
  text-decoration-line: none;
}
.header-section .left-section .selected-nav {
  text-transform: uppercase;
  color: var(--white);
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--green);
}
